/* Add google font */
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

/* All class using same variable */
:root{
    /* Define variables */
    --dark60 : rgba(240, 230, 234, 0.6); /*0.6 = 60%*/
    --Light : #51536A;
    --transition : all 0.3s ease 0s; /* Define delay time*/
    --accent:#c9cbe3; /*Button color from figma*/
    --accentHover :#a7adee; /*Mouse Hover -> Light */
}

/* All Section */
*{
    /* Clear margin and padding */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* Gradient Shade of Color */
    /* background-image: url('./images/backgroud.jpg'); */
    background: linear-gradient(var(--dark60),var(--dark60)),url(./images/backgroud.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a, botton, p{
    font-family: 'Miriam Libre', sans-serif;
    color: var(--Light);
}

a, botton, .logo{
    /* Link Element Logo & Button --> Hand Cursor */
    cursor: pointer;
}

main{
    height: 100;
    /* Work on grid */
    display: grid; 
    /* minmax ทำหน้าที่เป็น default เริ่มต้นขนาดของคอลัมน์ที่เท่าไรและกว้างได้มากสุดเท่าไร ยกตัวอย่างจากด้านล่าง
    คอลัมน์แรกกว้างเริ่มต้นที่ 60px จากความกว้างของพื้นที่ทั้งหมด แล้วค่อยแบ่งเป็นพื้นที่เต็มๆของพื้นที่ทั้งหมด
    คอลัมน์ที่สองแบ่งเป็น 6 elements ด้วยควากว้างเริ่มต้นที่ 50px และกว้างสูงสุด 190px 
    คอลัมน์ที่สามแบ่งเริ่มต้นที่กว้าง 60px แล้วกว้างได้มากสุดของกว้างทั้งหมด */
    grid-template-columns: minmax(60px, 1fr) repeat(6,minmax(50px, 190px)) minmax(60px, 1fr);
}

header{
    /* header start 2nd column to last column */
    grid-column: 1/ span 7;
}

nav{
    display: flex;
    align-items: center;
    height: 150px;
}

nav img{
    margin-top: auto;
    width: auto;
}

/* Class */
.Links{
    margin-left: auto;
}

.Links a,.Links button{
    font-size: 1.5 rem;
    font-weight: 400;
    transition: var(--transition);
    /* Action */
}

.Links a{
    margin-right: 20px;
    font-size: 30px;
}

.Links a:hover{
    /* Color will change on cursor point at item */
    color: var(--accentHover);
}

.button_login{
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
}

.button_login:hover{
    color: var(--accentHover);
}

.info{
    grid-column: 3 / span 4;
    margin-top: 23%;
    text-align: center;
}

.content_font1{
    font-family: 'Miriam Libre', sans-serif;
    color: var(--Light);
    font-size: 2.5rem;
}

.content_font2{
    font-family: 'Miriam Libre', sans-serif;
    color: var(--Light);
    font-size: 1.5rem;
}

.icons{
    margin-top: 10%;
    display: flex;
}

.icon{
    margin-right: 40px;
}

.icon img{
    width: 70px;
    height: 70px;
}

.icon_info{
    text-align: center;
}

.features{
    grid-column: 2 / span 6;
    background-color: #51536A;
    margin-top: 6%;
    /* top right bottom left */
    padding: 20px 0px 0px 20px;
    display: flex;
    align-items: flex;
}

.Feature{
    display: flex;
    /* top right bottom left */
    margin: 0px 10px 30px 10px;
}

.feature img{
    width: 130px;
    height: 200px;
    margin-right: 20px;
}

.Feature p{
    color: #fff;
    margin-left: 5%;
}

.features_info p{
    font-size: larger;
}

.Feature_top, .Feature_more{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;  
}

.Feature_bottom{
    font-size: 10px;
    font-weight: normal;
}

.Feature:nth-child(3){
    align-self: flex-start;
}

.Feature_more{
    cursor: pointer;
    transition: var(--transition);
}

.Feature_more:hover{
    color: var(--accent);
}

/* Responsive website on my devices */
@media only screen and (max-width: 1100px){
    .icon img{
        height: 60px;
        width: auto;
    }    
    .content_font1 , .content_font2{
        font-size: 2.75rem;
    }
    .feature{
        grid-column: 1 / span 7;
    }
};

@media only screen and (max-width:850px){
    .info{
        grid-column: 2 / span 7;
    }
    .icons{
        flex-direction: column;
    }
    .content_font1, .content_font2{
        font-size: 1.75rem;
    }
    .features{
        flex-direction: column;
    }
}
    
